/*
*	Color Palette
*	#E63946 - Imperial Red
*	#F1FAEE - Honeydew
*	#A8DADC - Powder Blue
*	#457B9D - Celadon Blue
*	#1D3357 - Prussian Blue
*/

body {
	background-color: #457B9D;
	color: #F1FAEE;
}


#header, #etchContainer, #footer {
	border: 2px solid black;
}

#header, #footer {
	text-align: center;
}

#controlContainer {
	padding: 10px;
	display: flex;
	justify-content: space-around;
	gap: 10px;
	flex-flow: row wrap;
}

#penIndicatorContainer {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	align-items: center;
}

#penIndicatorLabel {
	padding-top: 5px;
	color: #1D3357;
}

#colorToggleContainer {
	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;
	gap: 10px;
}

#blackColorToggleLabel, #randomColorToggleLabel {
	padding-top: 20px;
}

#clearButtonContainer {
	padding-top: 18px;
}

#clearButton {
	font-size: 18px;
}

#etchContainer {
	display: flex;
	justify-content: space-around;
}

#gridContainer {
	border: 1px solid black;
	width: 400px;
	height: 400px;
	display: grid;
	box-shadow: 0px 0px 20px #1D3357; 
}

#rangeContainer {
	display: flex;
	gap: 10px;
}

#squareRangeLabel {
	padding-top: 17px;
}


.controlLabels {
	font-size: 22px;
}

