#header, #etchContainer, #footer {
	border: 2px solid black;
}

#header, #footer {
	text-align: center;
}

#etchContainer {
	display: flex;
	justify-content: space-around;
}

#gridContainer {
	border: 1px solid black;
	width: 400px;
	height: 400px;
	display: grid;
}

